verivox/force-app/main/default/flows/Leave_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_record</name>
        <label>Navigate to record</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <actionName>c:NavigateToProcessInstanceStep</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>stepId</name>
            <value>
                <elementReference>stepId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:NavigateToProcessInstanceStep</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_the_stepId</name>
        <label>Set the stepId</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>stepId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_The_Approval_Final_Step.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Navigate_to_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Manager</name>
        <label>Is Manager</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Request_for_leave</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Detail.ManagerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_for_leave</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Leave Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Leave Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Approval_Record</name>
        <label>Get Approval Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_leave_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstanceWorkitem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_leave_details</name>
        <label>Get leave details</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Approval_Record.ProcessInstance.TargetObjectId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Leave__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_The_Approval_Final_Step</name>
        <label>Get The Approval Final Step</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_the_stepId</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Approval_Record.ProcessInstanceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StepStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>StepStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstanceStep</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Detail</name>
        <label>Get User Detail</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_leave_details.CreatedById</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Request_for_leave</name>
        <label>Request for leave</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <actions>
            <name>Approval_process</name>
            <actionName>Approval_process</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>isReject</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Approval_Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Approval process</label>
            <nameSegment>Approval_process</nameSegment>
            <versionSegment>1</versionSegment>
        </actions>
        <actions>
            <name>Reject_Approval_process</name>
            <actionName>Approval_process</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>isReject</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Approval_Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Reject Approval process</label>
            <nameSegment>Approval_process</nameSegment>
            <versionSegment>1</versionSegment>
        </actions>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_The_Approval_Final_Step</targetReference>
        </connector>
        <fields>
            <name>Leave_Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_leave_details.Start_Date__c</elementReference>
            </defaultValue>
            <fieldText>Leave Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Leave_End_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_leave_details.End_Date__c</elementReference>
            </defaultValue>
            <fieldText>Leave End Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Old_Balance</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_User_Detail.Total_vacation_days__c</elementReference>
            </defaultValue>
            <fieldText>Old Balance</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>1</scale>
        </fields>
        <fields>
            <name>New_Balance</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_leave_details.Current_Available_Vacation_Days__c</elementReference>
            </defaultValue>
            <fieldText>New Balance</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>1</scale>
        </fields>
        <fields>
            <name>Approve</name>
            <extensionName>flowruntime:actionButtonField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Approve</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <elementReference>Approval_process.ErrorMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSuccess</name>
                <value>
                    <elementReference>Approval_process.IsSuccess</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Reject</name>
            <extensionName>flowruntime:actionButtonField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Reject</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <elementReference>Reject_Approval_process.ErrorMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSuccess</name>
                <value>
                    <elementReference>Reject_Approval_process.IsSuccess</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <triggers>
            <eventName>flow__screenfieldclick</eventName>
            <eventSource>Approve</eventSource>
            <handlers>
                <screenActionName>Approval_process</screenActionName>
            </handlers>
        </triggers>
        <triggers>
            <eventName>flow__screenfieldclick</eventName>
            <eventSource>Reject</eventSource>
            <handlers>
                <screenActionName>Reject_Approval_process</screenActionName>
            </handlers>
        </triggers>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Approval_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
